body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.carousel .indicators .indicator-item {
  background-color: #424242;
}

.carousel .indicators .indicator-item.active {
  background-color: #212121;
}

.checkbox-dark[type="checkbox"] + label:before {
  border: 2px solid #424242;
  background: transparent;
}

.checkbox-dark[type="checkbox"]:checked + label:before {
  border: 2px solid transparent;
  border-bottom: 2px solid #424242;
  border-right: 2px solid #424242;
  background: transparent;
}

.checkbox-dark.filled-in[type="checkbox"] + label:after {
  border: 2px solid #424242;
  background: transparent;
}

.checkbox-dark.filled-in[type="checkbox"]:checked + label:after {
  background: #424242;
}

.checkbox-dark.filled-in[type="checkbox"]:checked + label:before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.clickable {
  cursor: pointer;
}

.dark-footer {
  background: #424242 !important;
}

.dark-outline {
  text-shadow:
  -1px -1px 0 #424242,
  1px -1px 0 #424242,
  -1px 1px 0 #424242,
  1px 1px 0 #424242;
}

.full-height {
  height:100%;
}

.full-width {
  width:100%;
}

.height-10 {
  height:10%;
}

.height-20 {
  height:20%;
}

.height-30 {
  height:30%;
}

.height-40 {
  height:40%;
}

.height-50 {
  height:50%;
}

.height-60 {
  height:60%;
}

.height-70 {
  height:70%;
}

.height-80 {
  height:80%;
}

.height-90 {
  height:90%;
}

#help {
  overflow:visible;
}

.help-button {
  margin-bottom:10px;
}

.help-carousel {
  height:100% !important;
}

html {
  height:100%;
}

.light-footer {
  background:#E0E0E0 !important;
}

.light-outline {
  text-shadow:
  -1px -1px 0 #E0E0E0,
  1px -1px 0 #E0E0E0,
  -1px 1px 0 #E0E0E0,
  1px 1px 0 #E0E0E0;
}

.logo-icon {
  padding:8px;
  padding-left:25px;
  padding-right:25px;
}

main {
  flex: 1 0 auto;
}

.modal .modal-content {
  padding: 10px;
}

.modal-close {
  position:absolute;
  top:-10px;
  right:-10px;
}

.padding-10 {
  padding-top: 10%;
}

.scroll {
  overflow-y:auto;
  overflow-x:hidden;
}
.width-35 {
  width:35%;
}

.width-60 {
  width:60%;
}

.width-90 {
  width:90%;
}

#viewindex, #viewsearchresults {
  width: 65%;
}