<div class="panel panel-primary" style="border-radius: 6px">
	<div class="panel-heading">
		<h3 class="panel-title">The Inverted Index</h3>
	</div>
	<div id="About">
		<h3>Background Information</h3>

		<p>An Inverted Index is an Index Data Structure storing a mapping from content to location</p> 
		<p>(i.e. a mapping of words or numbers to it's location in a database file).</p>
		<br>

		<h3>Why the project is useful</h3>

		<ul>
			<li><p>it can be used to search through books and match words in other words, it can be use as a plagiarism checker</p></li>
		</ul>
		<br>
		
		<h3>How users can get started with the project</h3>
		<ul>
			<li><p>Upload valid json book files (that have a text and title property)</p></li>
			<li><p>Select an uploaded book file(s) from the selector and click create index</p></li>
			<li><p>The index for the book(s) is/are shown in tabular format as show bellow</p></li>
			<li><p>Search for a text or sequence of text in a selected file or all files</p></li>
			<li><p>Click the search button and wait for the search results to be displayed in this format</p></li>
		</ul>
		<br>
		<h3>Limitations of the project</h3>
		<ul>
		 	<li><p>Files must have a specific structure for index to be created</p></li><br>
		</ul>
	</div>
</div>