<!DOCTYPE html>
<html ng-app='angular'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>BookSwitch</title>

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel= "stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body ng-controller="index">
    <div id="wrapper">
    <div id="header">
        <div id='headerTitle' float='center'>
            <h1>BookSwitch</h1>
            <span class="fa fa-info" style=" font-size: 30px; color: #fff"></span>
        </div>
    </div>
    <div id="help" ng-if="!showIndex && !showSearch">
    <list>
        <p><b>About this application!</b></p>
        <p>To create an inverted index for your books/files</p>
        <li>Ensure your files are in '.json' format</li>
        <li>Click 'Upload File</li>
        <li>Click 'Create Index'</li>
        <li>View indices below</li>
        <p><b>To search through indexed files,</b><p>
         <li>Click 'Select Book/file' dropdown</li>
        <li>Select the file you want to search or 'All' to search all files</li>
        <li>Enter your search term in search box</li>
        <li>Separate words in term with a single space</li>
        <li>Then click the 'Go' button</li>
        </ul>
    </list>
    </div>

    <div id="content">
        <div id="user-input">
            <span class="selectFiles">
            <label for='fUpload'> Select File(s): </label>
            <input type="file" id="fUpload" onchange="angular.element(this).scope().validateFiles()" multiple accept=".json"><br>
            <!--<input ng-model="upload" type="button" id="upload" name="upload" value="Upload><br><br>-->
            <button id="create-index" name="create-index" ng-click="createBookIndex()" ng-cloak>Create Index</button><br>
        </div>
        </span>
        <div id='selectBooks'>
            <span class="searchFiles">
            <label>Select Book/file(s):</label>
            <select ng-model ="bookList">
                 <option >All</option>
             <option ng-repeat="(filename, filecontent) in content" ng-cloak>{{filename}}</option>
             </select>
            Search Words:<input type="search" ng-model="search" name="search">
            <button id="go-button" name="create-index" ng-click= "searchBookIndex()">Go</button>
          </span>
        </div>
    </div>
    <div id='result'>
        <!--<div id="user-output">-->
    <div class= "user-output" ng-show='showIndex' ng-repeat="(filename, filedata) in fileIndices">
        <p class='paragraph' ng-cloak><b>{{filename}}</b></p>
        <table>
            <thead>
                <tr>
                    <th>Words</th>
                    <!--<th ng-repeat='index in titleIndex[filename]' ng-cloak>{{titles[filename][index]}}</th>-->
                    <th ng-repeat='index in titleIndex[filename]'>
                        <span data-toggle="tooltip" data-title="{{titles[filename][index]}}" data-placement="left">
                        Book{{$index + 1}}
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody ng-cloak>
                <tr ng-repeat="(key, values) in filedata" >
                    <td ng-cloak> {{key}} </td>
                    <td ng-repeat="number in documentCount[filename]" ng-cloak>
                        <span ng-if="values.includes(number) == true" ng-cloak>
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <!--<span aria-hidden="true"> YES </span>-->
                        </span>
                        <span ng-if="values.includes(number) === false">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <!--<span aria-hidden="true"> X </span>-->
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class= "user-output" ng-show='showSearch' ng-repeat="(filename, filedata) in searchFeedback">
        <p class='paragraph' ng-cloak><b>{{filename}}</b></p>
        <table>
            <thead>
                <tr>
                    <th>Words</th>
                    <th ng-repeat='index in titleIndex[filename]'>
                    <span data-toggle="tooltip" data-title="{{titles[filename][index]}}" data-placement="left">
                        Book{{$index + 1}}
                        </span>
                </tr>
            </thead>
            <tbody ng-cloak> 
                <tr ng-repeat="(key, values) in filedata">
                    <td ng-cloak>  {{key}} </td>
                    <td ng-repeat="number in documentCount[filename]" ng-cloak>
                        <span ng-if="values.includes(number) == true" ng-cloak>
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <!--<span aria-hidden="true"> YES </span>-->
                        </span>
                        <span ng-if="values.includes(number) === false">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <!--<span aria-hidden="true"> X </span>-->
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div id="footer">Copyright &copy; FAM.com</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
    <script src="js/InvertedIndex.js"></script>
    <script src="js/indexController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</body>
</html>