#header {
    padding: 1em;
    color: white;
    background-color: SteelBlue;
    clear: left;
    text-align: center;
}

#help {
    float: left;
    width: 10em;
    border-radius: 25px;
    border: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    margin: 10px;
    background-color: SteelBlue;
    font-family: "HelveticaNeue-Light";
}

#paragraph{
    border-bottom: 3px solid SteelBlue;
    border-top: 3px solid SteelBlue;
}

/*style div tags*/

#content {
    float: left;
    /*width: 50em;*/
    background-color: Gainsboro;
    margin: 10px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
}

#user-input,
#selectBooks {
    float: left;
    width: 15em;
    margin: 10px;
}

#user-output
{
    float: left;
    /*width: 100%;*/
    /*margin: 10px;*/
    padding: 50px;
}

#result {
    float: left;
    width: 50em;
    background-color: Gainsboro;
    margin: 10px;
    border-radius: 25px;
}


/*Style select input*/

select {
    font-family: 'Times New Roman';
}

select option {
    background-color: #FFFF00;
    color: #FF0000;
}


/*Style table*/

table {
    border-collapse: 1;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    width: 50em;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: SteelBlue;
    color: white;
}

/*Style buttons */

#create-index {
    background-color: SteelBlue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/*Style footer*/

#footer {
    clear: both;
    padding: 1em;
    color: white;
    background-color: DimGrey;
    text-align: center;
}