<div>
    <!--Panel-->
    <div class="card" id="about">
        <h3 class="card-header btn-danger white-text">About</h3>
        <div class="card-block">
            <p>This application builds an index from books in a file and allows you search through the file for words in that book. This app uses the inverted index data structure.</p>
            <a class="btn btn-danger" href="https://www.elastic.co/guide/en/elasticsearch/guide/current/inverted-index.html">Find out more!</a>
        </div>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="card" id="usage">
        <h3 class="card-header btn-danger white-text">Usage</h3>
        <div class="card-block">
        <h5><b>Uploads</b></h5>
        <ul>
            <li>Upload JSON file</li>
            <li>Select File to Index</li>
            <li>Click Create Index</li>
        </ul>

        <h5><b>Search</b></h5>
        <ul>
            <li>Select Files to search from</li>
            <li>Type Search term(s)</li>
            <li>Press Enter to Search</li>
        </ul>

        </div>
    </div>
    <!--/.Panel-->
</div>
